
*.gz
*.csv
.vscode
__pycache__
.ipynb_checkpoints
MICCAI_BraTS2020_TrainingData.zip
dummy_test.ipynb
*.txt
model_saved_*
*.sh
download_BraTS2020.py
default-1a6b898a-5836-4870-903e-499c89c5c638.ipynb
*.out
2D_BraTS2020*
visualize.ipynb
