
*.gz
*.csv
*.txt
*.sh
*.out


.vscode
__pycache__
.ipynb_checkpoints

# Different test in Jupyter Lab
dummy*.ipynb
visualize.ipynb
DiceThreshold.ipynb

# Dataset.zip
MICCAI_BraTS2020_TrainingData.zip
2D_BraTS2020*


model_saved_*
# Contains the url to download the datasets, not to share
download_BraTS2020.py




